<div>
  <mat-card>
      <div class="container">
          <div class="row">
            <div class="col text-left">
              <a class="btn btn-primary btn-sm food-decision-back-button" routerLink="/">Back</a>
            </div>
            </div>
          <div class="container">
            <h1 class="title">{{ title }}</h1>
          </div>
        </div>
    <div class="div-buttons">
      <div class="div-buttons">
          <a class="btn btn-primary btn-lg donate-dispose-button" routerLink="/donate-food" role="button">Donate Food</a>
      </div>
      <div class="div-buttons">
          <a class="btn btn-primary btn-lg donate-dispose-button" routerLink="/dispose-food" role="button">Dispose Food</a>
      </div>
    </div>
  </mat-card>
</div>