<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
          <div class="container">
              <div class="row">
                <div class="col text-left">
                  <a class="btn btn-primary btn-sm report-back-button" routerLink="/">Back</a>
                </div>
                <div class="col text-right">
                      </div>
                    </div>
              <div class="container">
                <h1 class="title">{{ title }}</h1>
              </div>
              <div class="input-group mb-3">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                    <i class="fa fa-search fa-2x fa-fw" aria-hidden="true"></i>
                  </div>
                </div>
            </div>

        <div class="col-md-6">
          <p class="warningTitle">Number of warnings: {{ noOfWarnings }}</p>
      </div>

        <div class="table-container mat-elevation-z8">

            <div class="row justify-content-center">
                <div class="row col-md-4 ">
                  <mat-form-field class="mx-auto">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="row col-md-4">
                  <mat-form-field class="mx-auto">
                    <mat-select [(value)]="selected" placeholder="Select Range">
                      <mat-option>None</mat-option>
                      <mat-option value="Daily">Daily</mat-option>
                      <mat-option value="Weekly">Weekly</mat-option>
                      <mat-option value="Monthly">Monthly</mat-option>
                      <mat-option value="Quartrly">3 Months</mat-option>
                      <mat-option value="Bi-Annually">6 Months</mat-option>
                      <mat-option value="Yearly">Year</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="row col-md-4">
                  <mat-paginator class="mx-auto" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </div>
              </div>


          <mat-table #table [dataSource]="dataSource" matSort class="offset-md-2 col-md-8">

               <!-- Date Column -->
               <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="warning-table-cell">Date</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="warning-table-cell">{{ element.date }}</mat-cell>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="time">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="warning-table-cell">Time</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="warning-table-cell">{{ element.time }}</mat-cell>
                </ng-container>

                <!-- Warning Column -->
                <ng-container matColumnDef="warning">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="warning-table-cell">Warning</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="warning-table-cell">{{ element.warning }}</mat-cell>
                </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
      </div>

    </mat-card>
    </div>
  </div>
</div>
<div>

</div>