.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  justify-content: center;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.example-card {
  margin: auto;
  max-width: 60%;
}

.search-icon-store {
  position: relative;
  right: 10%;
  color: #e9ecef;
}

.request-failed-alert {
  margin-top: 3%;
}

mat-row:nth-child(even) {
  background-color: #e5e5e5;
}

mat-row:nth-child(odd) {
  background-color: #bfbfbf;
}

.mat-header-row {
  background-color: #333333;
}

.mat-header-cell {
  color: white;
}

.title {
  margin-bottom: 48px;
  font-weight: bolder;
}

.btn-primary {
  background-color: #C92228;
  border-color: #C92228;
  font-weight: bolder;
  color: white !important;
}

h1 {
  text-align: center;
  color: #C92228;
}