<div class="container">
  <mat-card layout="row" layout-align="start center">
      <div class="container">
          <div class="row">
            <div class="col text-left">
              <a class="btn btn-primary btn-sm add-flash-sale-back-button" routerLink="/flash-sale">Back</a>
            </div>
            </div>
          <div class="container">
            <h1 class="title">{{ title }}
            <br>{{ subtitle }}</h1>
          </div>
        </div>
    <div class="container add-flash-sale-input">
      <div class="justify-content-center add-flash-sale-container offset-md-2 col-md-8" >
        <!-- <div class="add-flash-sale-container w-100"> -->
          <mat-form-field>
            <input matInput placeholder="Item number" type="number" required>
            <mat-icon
            matSuffix
            matTooltip="Click here to scan barcode with camera"
            matTooltipPosition="right">
            crop_free
          </mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Food Name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Original Price" type="number" class="example-right-align" required>
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>/lb</span>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Sale Price" type="number" class="example-right-align" required>
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>/lb</span>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Start Date" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="End Date" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <div class="row">
            <div class="col text-left">
              <a class="btn btn-primary add-flash-sale-button btn-lg" routerLink="/flash-sale" role="button">Cancel</a>
            </div>
            <div class="col text-right">
              <a class="btn btn-primary btn-lg add-flash-sale-button" routerLink="/flash-sale" role="button">Add</a>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </mat-card>
</div>