.btn-primary {
    background-color: #C92228;
    border-color: #C92228;
    color: white !important;
    font-weight: bolder;
}

.input-group mb-3 {
    margin-bottom: 24px;
}

.fa-search {
    color: #C92228;
}

.fa-plus-circle {
    color: #C92228;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

.mat-table {
    overflow: auto;
    max-height: 500px;
  }

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

mat-row:nth-child(even) {
    background-color: #e5e5e5;
  }

  mat-row:nth-child(odd) {
    background-color: #bfbfbf;
  }

.mat-header-row {
    background-color: #333333;
  }

.mat-header-cell {
    color: white;
  }

h1 {
    text-align: center;
    color: #C92228;
}

.input-group-append {
    position: relative;
}

.title {
    font-weight: bolder;
    text-align: center;
    color: #C92228;
}

h1 {
    text-align: center;
    color: #C92228;
}

.input-group-append i {
    position: absolute;
    left: -1px;
    top: 3px;
    padding: 9px 0px 9px 12px;
    color: #aaa;
    transition: .3s;
}

mat-header-cell, mat-cell{
    text-align: center
}

.underline{
    color: green;
    text-decoration: underline;
}

mat-icon {
    cursor: pointer;
}


