<div class="container">
  <br />
  <mat-card color="primary">
    <mat-card-title class="text-center">
      About Us
    </mat-card-title>
  </mat-card>
  <br />
  <mat-card>
      <mat-card-title class="text-center">
        What is Ripe&Sense?
          <mat-card-title class="text-center">
            <br />
            Ripe&Sense is an end-to-end solution that provides
            <br />
            businesses an opportunity to track their food
            <br />
            in a simple and easy to use solution
          </mat-card-title>
      </mat-card-title>
  </mat-card>
  <br />
  <mat-card>
    <mat-card-title class="text-center">
    Our Location
    </mat-card-title>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.7427219447413!2d-79.64923568443704!3d43.59107497912349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b472bb0426f45%3A0xdb67ca8a29007a66!2sSheridan+College+-+Hazel+McCallion+Campus!5e0!3m2!1sen!2sca!4v1524361175922"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </mat-card>
  <br />
</div>
