<div class="d-flex justify-content-center">
  <div class="d-flex flex-column">
    <div class="container align-self-center">
      <table class="table table-borderless table-responsive">
        <tbody>
          <tr>
            <td>{{ username_label }}</td>
            <td>{{ username_value }}</td>
          </tr>
          <tr>
            <td>{{ email_label }}</td>
            <td>{{ email_value }}</td>
          </tr>
          <tr>
            <td>{{ name_label }}</td>
            <td>{{ name_value }}</td>
          </tr>
          <tr>
            <td>{{ account_type_label }}</td>
            <td>{{ account_type_value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
