.example-container {
    display: flex;
    flex-direction: column;
  }

  .example-container > * {
    width: 100%;
  }

  #password-title {
    margin-top: 20px;
    color: gray;
  }

  .required-password-icon {
    color: red;
  }

  .confirm-password-button {
    background-color: #C92228;
    border-color: #C92228;
    font-weight: bolder;
    color: white;
  }