<div class="container">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <h3 id="password-title">Change Password</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter old password" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter new password" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm new password" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>

          <p class="required-password-icon"><mat-icon>star</mat-icon>All fields are required</p>
        <button class="confirm-password-button">Confirm New Password</button>
      </div>
    </div>
  </div>
</div>