<div class="container">
  <mat-card layout="row" layout-align="start center">

      <div class="container">
          <div class="row">
            <div class="col text-left">
              <a class="btn btn-primary btn-sm add-donate-back-button" routerLink="/donate-food">Back</a>
            </div>
            </div>
          <div class="container">
            <h1 class="title">{{ title }}</h1>
          </div>
        </div>

    <!-- <div class="container-fluid"> -->
      <!-- <div class="d-flex justify-content-center"> -->
        <div class="donate-food-item-form-container offset-md-1 col-md-10">
          <mat-form-field>
            <input
            matInput
            placeholder="Item number"
            type="number"
            required>
            <mat-icon
            matSuffix
            matTooltip="Click here to scan barcode with camera"
            matTooltipPosition="right">
            crop_free</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input
            matInput
            placeholder="Food Name"
            required>
          </mat-form-field>
          <mat-form-field>
            <input
            matInput
            placeholder="Quantity to Donate"
            type="number"
            required>
            <span matSuffix>lbs</span>
          </mat-form-field>
          <mat-form-field>
            <input
            matInput
            placeholder="Donate To"
            required>
          </mat-form-field>
          <div class="row">
            <div class="col text-left">
              <a class="btn btn-primary btn-lg add-donate-buttons" role="button" routerLink="/donate-food">Cancel</a>
            </div>
            <div class="col text-right">
              <a class="btn btn-primary btn-lg add-donate-buttons" routerLink="/donate-food" role="button">Donate</a>
            </div>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </mat-card>
</div>