<div class="container">
  <div class="row">
  <mat-card class="col-xs-8 col-sm-7 col-md-6 col-6">
    <div class="contact-info">
      Call
      <br> 1-800-345-6789
    </div>
    <div class="contact-info">
      Email
      <br> terrextech@gmail.com
    </div>
    <div id="time-info">
      8:30 am - 11 pm (EST)
      <br> Customer support is available 7 days a week,
      <br> all 365 days of the year.
    </div>
  </mat-card>
  <mat-card class="text-center col-xs-4 col-sm-5 col-md-6 col-6">
    <mat-card-title>
     <h1 class="title">{{ title }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      To get help, please contact us by phone, email or fill out the help form.
    </mat-card-subtitle>
    <mat-card-content>
      <div id="help-form-title">Help Form:</div>
      <div>
        <div class="help-form-container">
          <mat-form-field>
            <input matInput placeholder="Subject" required>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Enter your enquiry here." required></textarea>
          </mat-form-field>
          <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  </div>
</div>