<div class="container d-block d-sm-block d-lg-none">
  <mat-card>
          <h1 class="title">{{ title }}</h1>
        <div class="col text-center">
          <a class="btn btn-primary btn-lg" role="button">Convert to PDF</a>
        </div>
        <br />
    <div class="input-group mb-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
        <i class="fa fa-search fa-2x fa-fw" aria-hidden="true"></i>
      </div>
    </div>

    <div class="table-container mat-elevation-z8">

      <div class="justify-content-center">

        <div class="row justify-content-center">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row justify-content-center">
            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Select Range">
                <mat-option>None</mat-option>
                <mat-option value="Daily">Daily</mat-option>
                <mat-option value="Weekly">Weekly</mat-option>
                <mat-option value="Monthly">Monthly</mat-option>
                <mat-option value="Quartrly">3 Months</mat-option>
                <mat-option value="Bi-Annually">6 Months</mat-option>
                <mat-option value="Yearly">Year</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div class="justify-content-center">
          <mat-paginator class="justify-content-center" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>

    </div>


      <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Item No Column -->
        <ng-container matColumnDef="sensor">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Sensor</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.sensor }}</mat-cell>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="maintenanceDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Maintenance Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.maintenanceDate }}</mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="maintenanceStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Maintenance Status</mat-header-cell>
          <mat-cell class="text-center" *matCellDef="let element">{{ element.maintenanceStatus }}</mat-cell>
        </ng-container>

        <!-- Personnel Column -->
        <ng-container matColumnDef="maintenancePersonnel">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Maintenance Personnel</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.maintenancePersonnel }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <br />
    <mat-card-subtitle class="text-center">
      Report Generated By Employee #: 1100011
    </mat-card-subtitle>
  </mat-card>
</div>