<div class="container-fluid">
  <mat-card class="card-container">
    <div
     class="
      row
      justify-content-center
      mx-auto
      icons-container
    "
    >

      <div
       class="
        col-12
        col-sm-5
        col-lg-3
        dash-icon-container
      "
      >
        <component-dash-icon
         color="red"
         icon="fa-lemon"
         url="/food-monitor"
        >
          Food Monitoring
        </component-dash-icon>
      </div>

      <div
       class="
        col-12
        col-sm-5 offset-sm-1
        col-lg-3 offset-lg-0
        dash-icon-container
      "
      >
        <component-dash-icon
         color="red"
         icon="fa-exclamation-triangle"
         url="/warning"
        >
          Warnings
        </component-dash-icon>
      </div>

      <div
       class="
        col-12
        col-sm-5
        col-lg-3
        dash-icon-container
      "
      >
        <component-dash-icon
         color="green"
         icon="fa-bolt"
         url="/flash-sale"
        >
        Flash Sales
        </component-dash-icon>
      </div>

      <div
       class="
        col-12
        col-sm-5 offset-sm-1
        col-lg-3 offset-lg-0
        dash-icon-container
      "
      >
        <component-dash-icon
         color="green"
         icon="fa-check-circle"
         url="/food-decision"
        >
          Food Decisions
        </component-dash-icon>
      </div>

      <div
       class="
        col-12
        col-sm-5
        col-lg-3
        dash-icon-container
      "
      >
        <component-dash-icon
         color="green"
         icon="fa-chart-line"
         url="/stats"
        >
          Statistics
        </component-dash-icon>
      </div>

      <div
       class="
        col-12
        col-sm-5 offset-sm-1
        col-lg-3 offset-lg-0
        dash-icon-container
      "
      >
        <component-dash-icon
         color="red"
         icon="fa-file-alt"
         url="/report-main"
        >
          Reports
        </component-dash-icon>
      </div>

      <div
       class="
        col-12
        col-sm-5
        col-lg-3
        dash-icon-container
      "
      >
        <component-dash-icon
         color="green"
         icon="fa-users"
         url="/manage-user"
        >
          Manage Users
        </component-dash-icon>
      </div>

      <div
       class="
        col-12
        col-sm-5 offset-sm-1
        col-lg-3 offset-lg-0
        dash-icon-container
      "
      >
        <component-dash-icon
         color="green"
         icon="fa-history"
         url="/history"
        >
          History
        </component-dash-icon>
      </div>

    </div>
  </mat-card>
</div>
